
@import "tailwindcss";

*{
  font-family: "Inter", sans-serif;
  /* background-color: aliceblue; */
  
}
::-webkit-scrollbar{
  display: none;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

.navbar-ham-animation-in {
  animation: slideUp 0.4s ease-out forwards;
}

.navbar-ham-animation-out {
  animation: slideDown 0.4s ease-in forwards;
}




a{
  color: black;
  text-decoration: none;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.nav-items ul{
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}
.profile-cart-options ul{
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}
.logo{
  color: rgb(55, 65 ,81);
}
.searchBox{
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid rgba(128, 128, 128, 0.595);
  border-radius: 8px;
  width: 550px;
  transition: top 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}
.searchBox.open {
  top: 50px;  
  opacity: 1; 
  pointer-events: auto; 
}

.searchBo x.closed {
  top: -100px; 
  opacity: 0; 
  pointer-events: none; 
}
.searchBox.open, .searchBox.closed {
  transition: opacity 0.3s ease;
}
.searchBox input{
  outline: none;
  border: black;
  width: 500px;
  height: 35px;  
  padding: 20px;
  font-size: 15px;
  color: black;

  &:focus{
    outline: none;
  }
}
.searchBox {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px;
}

.searchIcon {
  margin: 10px;
}
.loginBox{
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  cursor: pointer;
  gap: 0.5rem;
}
.cartBox{
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  cursor: pointer;
  gap: 0.5rem;
}
.hamburger-icon{
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  cursor: pointer;
  gap: 0.5rem;
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.adTexts p{
  color: rgb(55, 65 ,81);
  line-height: 2rem;
  padding: 0;
} 
.adTexts h1{
  color: rgb(28, 33, 41);
  line-height: 2rem;
  padding: 0;
} 


.dropdown {
  position: relative;
  display: inline-block;
}



.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-btn {
  background-color: #3e8e41;
}
.popupText{
  padding: 10px;
}
.popup-arrow{
  -webkit-filter:drop-shadow(0 -3px 3px rgba(255,255,255,255));
  filter:drop-shadow(0 -3px 3px rgba(255,255,255,255));
}
.popup-content{
  background-color: aliceblue;
}
.hamburger-icon{
  display: none;
}

@media screen and (max-width : 400px) {
  .navbar{
    display: block;
    display: flex;
  }
  .nav-items{
    display: none;
  }
  .hamburger-icon{
    display: block;
  }
  .advertisement{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }
  .navbar{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .logo{
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    color: black;
  }
  .adTexts p{
    font-size: 20px;
  }
  .adTexts h1{
    font-size: 3rem;
  }
  .adImage{
    width: 100%;
  }
  .loginBox{
    display: none;
  }
  .cartBox{
    display: none;
  }
  .profile-cart-options ul{
    margin: 0;
  }
  .hamburger-icon{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .hambuger-options, .hambuger-options ul{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .hambuger-options{
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    width: 50%;
    position: absolute;
    top: 4%;
    right: 0;
    z-index: 100;
    border: 2px solid rgb(28, 33, 41);
  }
  .close-icon-div{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 20px;
  }
  .popupText{
    padding: 0;
    margin: 0;
  }
}